# configuration file that tells Ansible how to behave [like settings for your Ansible project]
# Without it, Ansible will try to use system defaults, which might not match your project setup.

[defaults]
# This section contains the default settings for Ansible.
inventory = ./hosts
remote_user = ubuntu
private_key_file = ~/.ssh/ansible.pem
host_key_checking = False
interpreter_python = /usr/bin/python3.12  

[privilege_escalation]
become = True
become_method = sudo

